/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.documentsTab {
    height: 25px;
    position: relative;
    overflow: hidden;
    color: white;
}

.openDocuments {
    height: 25px;
    width: 100%;
    font-size: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack:start;
    -webkit-box-align:start;
}

.openDocuments li {
    border-right: 1px solid black;
    cursor: pointer;
    padding: 0.5em 1em;
    vertical-align: middle;
    text-shadow: 1px 1px 1px #000000;
    -webkit-box-flex: 1;
    max-width: 115px;
}

.openDocuments li:hover,
.openDocuments li:active,
.openDocuments li.activeTab {
    background-color: #7f7f7f; /* rgb(127, 127, 127); */
}