<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" type="text/css" href="documents-tab.css">

        <script type="text/montage-serialization">
        {

            "owner": {
                "prototype": "js/components/layout/documents-tab.reel",
                "properties": {
                    "element": {"#": "openDocumentsTabComponent"}
                }
            },

            "documentEntry": {
                "prototype": "js/components/layout/document-entry.reel",
                "properties": {
                    "element": {"#": "document"}
                },
                "bindings": {
                    "document": {
                        "boundObject": {"@": "repetition1"},
                        "boundObjectPropertyPath": "objectAtCurrentIteration",
                        "oneway": true
                    },
                    "name": {
                        "boundObject": {"@": "repetition1"},
                        "boundObjectPropertyPath": "objectAtCurrentIteration.model.file.name",
                        "oneway": true
                    },
                    "saveFlag": {
                        "boundObject": {"@": "repetition1"},
                        "boundObjectPropertyPath": "objectAtCurrentIteration.model.needsSave",
                        "oneway": true
                    },
                    "active": {
                        "boundObject": {"@": "repetition1"},
                        "boundObjectPropertyPath": "objectAtCurrentIteration.model.isActive",
                        "oneway": true
                    }
                }
            },
            
            "repetition1": {
                "prototype": "montage/ui/repetition.reel",
                "properties": {
                    "element": {"#": "openDocuments"}
                },
                "bindings": {
                    "objects": {
                        "boundObject": {"@": "owner"},
                        "boundObjectPropertyPath": "openDocuments",
                        "oneway": true
                    }
                }
            }

        }
        </script>

    </head>

    <body>
        <div data-montage-id="openDocumentsTabComponent" class="documentsTab">
            <ul data-montage-id="openDocuments" class="openDocuments">
                <li data-montage-id="document"></li>
            </ul>
        </div>
    </body>

</html>
