/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.stageAndScenesContainer {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    position: relative;
    overflow: hidden;
}

.montage-editor-container {
    z-index: 8;
}

.stageAndScenesContainer .montage-editor {
    -webkit-user-select:text;
}

.codeViewContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  overflow:auto;
  cursor:text;
}

.codeViewContainer .CodeMirror {
    width: 100%;
    height: 100%;
    background: white;
}

.codeViewContainer .CodeMirror-scroll {
    height: 100%;
    overflow: auto;
}

.codeViewContainer>div{
    width:2500px;/*to prevent scrolling of editor container in the middle of the page for short files*/
}

.stage-tray-container {
    height: 100%;
    position: absolute;
    width: 100%;
}

.objects-tray-container {
    bottom: 10px;
    position: absolute;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    z-index: 2;
}


span.CodeMirror-matchhighlight { background: #e9e9e9 }
.CodeMirror-focused span.CodeMirror-matchhighlight { background: #e7e4ff; !important }
div.CodeMirror span.CodeMirror-matchingbracket {color: #000 !important;background-color: #ffd500;}
.CodeMirror-completions select {background-color:#e8f2ff;border:1px solid #c1c1c1;box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.8);}
.CodeMirror-completions {z-index:6001 !important;}

.cm-s-default .activeline {background: #e8f2ff; !important}
.cm-s-eclipse .activeline {background: #e8f2ff; !important}
.cm-s-elegant .activeline {background: #e8f2ff; !important}
.cm-s-neat .activeline {background: #e8f2ff; !important}
.cm-s-night .activeline {background: #8da6ce; !important}
.cm-s-cobalt .activeline {background: #8da6ce; !important}
.cm-s-monokai .activeline {background: #8da6ce; !important}
.cm-s-rubyblue .activeline {background: #3E7087; !important}
.cm-s-lesser-dark .activeline {background: #8da6ce; !important}
.cm-s-xq-dark .activeline {background: #8da6ce; !important}
