/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.tween_span{
    position: absolute;
    height: 16px;
    opacity: 0.15;
    background-color: white;
}

.tween_span.spanHighlight{
    background-color: #a0c8ff;
    opacity: 0.4;
}