@charset "UTF-8";

/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

/* TimelineTrack.scss
 * Main SCSS file for TimelineTrack component, compiled by SASS into the file css/TimelineTrack.css.
 */
 
// Import theme settings
@import "../../../../../scss/imports/themes/default/colors";
// @import "../../../../../scss/imports/themes/default/fonts";
@import "../../../../../scss/imports/themes/default/mixins";

// Import generic mixins and styles
@import "../../../../../scss/imports/scss/mixins";
// @import "../../../../../scss/imports/scss/Base";

.tracklane{
    height: 19px;
    width: 100%;
    color: white;
    padding-top: 2px;
    border-bottom: #444;
    border-bottom-style: solid;
    border-bottom-width: thin;
    background-image: url("../images/gridline.jpg");
    overflow: hidden;
}

.keyframe{
    position: absolute;
    height: 16px;
    width: 4px;
    background-color: white;

}

.defaultSpan{
    position: absolute;
    height: 16px;
    opacity: 0.3;
    background-color: white;
}



.tl_layertracks .content-position {
	height: 63px;
}
.tl_layertracks .content-transform {
	height: 106px;
}

.tl_layertracks .collapsible-content.collapsible-collapsed {
	overflow: hidden;
	height: 0px;
}

.tl_layertracks .collapsible-content .collapsible-label {
	height: 21px;
	background-color: $color-panel-bg;
	color: $color-panel-text;

}

