@charset "UTF-8";

/* TimelineTrack.scss
 * Main SCSS file for TimelineTrack component, compiled by SASS into the file css/TimelineTrack.css.
 */
 
// Import theme settings
@import "../../../../../_scss/imports/themes/default/colors";
// @import "../../../../../_scss/imports/themes/default/fonts";
@import "../../../../../_scss/imports/themes/default/mixins";

// Import generic mixins and styles
@import "../../../../../_scss/imports/scss/mixins";
// @import "../../../../../_scss/imports/scss/Base";

.tracklane{
    height: 19px;
    width: 100%;
    color: white;
    padding-top: 2px;
    border-bottom: #444;
    border-bottom-style: solid;
    border-bottom-width: thin;
    background-image: url("../images/gridline.jpg");
    overflow: hidden;
}

.keyframe{
    position: absolute;
    height: 16px;
    width: 4px;
    background-color: white;

}

.defaultSpan{
    position: absolute;
    height: 16px;
    opacity: 0.3;
    background-color: white;
}



.tl_layertracks .content-position {
	height: 63px;
}
.tl_layertracks .content-transform {
	height: 106px;
}

.tl_layertracks .collapsible-content.collapsible-collapsed {
	overflow: hidden;
	height: 0px;
}

.tl_layertracks .collapsible-content .collapsible-label {
	height: 21px;
	background-color: $color-panel-bg;
	color: $color-panel-text;

}
 .tl_layertracks .collapsible-content .timeline-track {
 	height: 21px;
 }
