/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.sub-panel-slot {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}
.no-styles .sub-panel-slot, .no-styles .styles-view-toolbar-container {
    display: none;
}
.styles-view-container .panel-message {
    display: none;
}
.styles-view-container.no-styles .panel-message {
    display: block;
}
.styles-view-toolbar-container {
    border-top: 1px solid #303030;
}
.styles-view-toolbar-container .toolbar-container {
    border-top: 1px solid #5c5c5c;
}