<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
<head>
    <script type="text/montage-serialization">
    {
        "owner": {
            "prototype": "js/components/radio.reel",
            "properties": {
                "element": {"#": "radio_comp"},
                "labelField": {"#": "labelField"},
                "radioField": {"#": "radioField"}
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="radio_comp">
        <input data-montage-id="radioField" class="nj-skinned" type="radio">
        <label data-montage-id="labelField" class="nj-skinned"></label>
    </div>
</body>
</html>