/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.hottext {
    cursor: default;
    border:none;
    border-bottom:1px dotted white;
    width:20px;
    text-align:center;
    -webkit-user-select:none;
    outline:none;
}

.hottext:hover
{
    cursor: pointer;
}

.hottextInput
{
    cursor: default;
    width:20px;
    text-align:center;
}