// <copyright>
// This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
// No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
// (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
// </copyright>

/* extra theme for use when developing the layouts so we can color items to discern them */
.applicationBodyBackground {
    background: blue;
}

.menuBar {
    color: rgba(192,192,192,1);
    background: black;
}

.docAreaBackground {
	color: black;
	background: black;
}

.mainStageBackground {
	color: white;
	background: gray;
}

.stageContentShadow {
    -webkit-box-shadow: 3px 5px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 3px 5px 4px rgba(0,0,0,.5);
    box-shadow: 3px 5px 4px rgba(0,0,0,.5);
}

.panelBackground {
	color: white;
	/*border: solid 1px #333;*/
	background: rgba(41,41,41,1);
}

.panelCollapseControlBackground {
    background: green;
}

.panelCollapseArrowFill {
    color: rgba(76,76,76,1); /* this is never really used but is set so we can get it via javascript to draw the control via script on the canvas */
}

.docAreaBorder {
    border: solid 1px rgba(51,51,51,1);
    padding: 1px;
}

.panelContent {
    background: rgba(62,62,62,1);
    border: solid 1px black;
}