<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="selection-properties.css">

        <script type="text/montage-serialization">
        {

            "owner": {
                "prototype": "js/components/tools-properties/selection-properties.reel",
                "properties": {
                    "element": {"#": "selectionProperties"},
                    "transform": {"#": "transformCheck"}
                }
            }
    	}
	    </script>

    </head>

    <body>
        <div data-montage-id="selectionProperties" class="subToolHolderPanel">
            <label class="label subOption optionLabel"><input data-montage-id="transformCheck" type="checkbox" name="transformControl" class="checkBoxAlign"/>Transform Controls</label>
            <div id="toolPropertiesPanel-selectionDivOptions">
                <div class="subOption"><div id="topAlign" class="topAlignUp" title="Top Align"></div></div>
                <div class="subOption"><div id="rightAlign" class="rightAlignUp" title="Right Align"></div></div>
                <div class="subOption"><div id="bottomAlign" class="bottomAlignUp" title="Bottom Align"></div></div>
                <div class="subOption"><div id="vLeft" class="verticalLeftUp" title="Vertical Left"></div></div>
                <div class="subOption"><div id="vRight" class="verticalRightUp" title="Vertical Right"></div></div>
                <div class="subOption"><div id="vCenter" class="verticalCenterUp" title="Vertical Center"></div></div>
                <div class="subOption"><div id="distTop" class="distTopUp" title="Distance Top"></div></div>
                <div class="subOption"><div id="distCenter" class="distCenterUp" title="Distance Center"></div></div>
                <div class="subOption"><div id="distBottom" class="distBottomUp" title="Distance Bottom"></div></div>
                <div class="subOption"><div id="distLeft" class="distLeftUp" title="Distance Left"></div></div>
                <div class="subOption"><div id="distVCenter" class="distVCenterUp" title="Distance Center"></div></div>
                <div class="subOption"><div id="distRight" class="distRightUp" title="Distance Right"></div></div>
            </div>
        </div>
    </body>

</html>

