<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="input-group.css">
    <script type="text/montage-serialization">
    {
        "eventDelegator": {
                "prototype": "montage/core/event/action-event-listener",
                "properties": {
                    "handler": {"@": "owner"},
                    "action": "forwardEvent"
                }
            },
        "propControl1": {
            "prototype": "js/components/ui/property-control.reel",
            "properties": {
                "element": {"#": "inputPair"}
            },
            "bindings": {
                "data": {
                    "boundObject": {"@": "propList"},
                    "boundObjectPropertyPath": "objectAtCurrentIteration"
                }
            },
            "listeners": [
                                {
                                    "type": "propertyChange",
                                    "listener": {"@": "eventDelegator"},
                                    "capture": false
                                },
                                {
                                    "type": "propertyChanging",
                                    "listener": {"@": "eventDelegator"},
                                    "capture": false
                                }
                            ]
        },
        "propList": {
            "prototype": "montage/ui/repetition.reel",
            "properties": {
                "element": {"#": "inputList"}
            },
            "bindings": {
                "objects": {
                    "boundObject": {"@": "owner"},
                    "boundObjectPropertyPath": "data",
                    "oneway": true
                }
            }
        },
        "owner": {
            "prototype": "js/components/ui/input-group.reel",
            "properties": {
                "element": {"#": "inputRow"},
                "controlsList": {"@": "propList"}
            }
        }
    }
    </script>
</head>
<body>
    <div id="inputRow" class="inputRow" style="-webkit-user-select: none;">
        <div id="inputList">
            <div id="inputPair"></div>
        </div>
    </div>
</body>
</html>