// <copyright>
// This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
// No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
// (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
// </copyright>

#middleDocArea {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;

    margin: 1px;
    margin-bottom:3px;

    border-style: solid;
    border-width: 1px;
}

#stageBG {
    width:100%;
    height:100%;
    background-color: red;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;

    z-index: 0;
}

#stageUserContent {
    width:100%;
    height:100%;
    background-color: transparent;
    border : 1px solid $color-body-border;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;

    z-index: 1;
}

.global3DSettings {
    -webkit-transform-style: preserve-3d;
    -webkit-transform:perspective(1400) matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
}

.perspective3D {
    -webkit-perspective: 1400;
}

#iframeContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100%;
    overflow:scroll;
    background:$color-stage;
}

#drawingCanvas {
    position: absolute;
    margin: 0px;
    border: none;
    padding: 0px;
    top: 0px;
    left: 0px;
    z-index: 6;
}


#stageCanvas {
    position: absolute;
    margin: 0px;
    border: none;
    padding: 0px;
    top: 0px;
    left: 0px;
    z-index: 5;
}

#layoutCanvas {
    position: absolute;
    margin: 0px;
    border: none;
    padding: 0px;
    top: 0px;
    left: 0px;
    z-index: 4;
}
