// <copyright>
// This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
// No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
// (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
// </copyright>

/*
 * toolbar.scss
 * Styles governing the individual tools.
 * Note that colors and font definitions go in 
 * _scss/themes/themename/_colors.scss and _scss/themes/themename/_fonts.scss
 */

/* New Tool List CSS */
.SelectionToolPressed {
    @include background-pos(12,1,26px,23px);
    @include opacity(1.0);
}

.SelectionToolUnpressed {
    @include background-pos(13,1,26px,23px);
    @include opacity(0.7);
}

.SubselectionToolPressed {
    @include background-pos(14,1,26px,23px);
    @include opacity(1.0);
}

.SubselectionToolUnpressed {
    @include background-pos(15,1,26px,23px);
    @include opacity(0.7);
}

.RotateTool3DPressed {
    @include background-pos(0,0,26px,23px);
    @include opacity(1.0);
}

.RotateTool3DUnpressed {
    @include background-pos(1,0,26px,23px);
    @include opacity(0.7);
}

.Translate3DPressed {
    @include background-pos(4,0,26px,23px);
    @include opacity(1.0);
}

.Translate3DUnpressed {
    @include background-pos(5,0,26px,23px);
    @include opacity(0.7);
}

.TagToolPressed {
    @include background-pos(0,2,26px,23px);
    @include opacity(1.0);
}

.TagToolUnpressed {
    @include background-pos(1,2,26px,23px);
    @include opacity(0.7);
}

.PenToolPressed {
    @include background-pos(6,1,26px,23px);
    @include opacity(1.0);
}

.PenToolUnpressed {
    @include background-pos(7,1,26px,23px);
    @include opacity(0.7);
}

.TextToolPressed {
    @include background-pos(2,2,26px,23px);
    @include opacity(1.0);
}

.TextToolUnpressed {
    @include background-pos(3,2,26px,23px);
    @include opacity(0.7);
}

.ShapeContainerPressed {
    @include background-pos(4,1,26px,23px);
    @include opacity(1.0);
}
.ShapeContainerUnpressed {
    @include background-pos(5,1,26px,23px);
    @include opacity(0.7);
}

.OvalToolPressed {
    @include background-pos(4,1,26px,23px);
    @include opacity(1.0);
}

.OvalToolUnpressed {
    @include background-pos(5,1,26px,23px);
    @include opacity(0.7);
}

.RectangleToolPressed {
    @include background-pos(10,1,26px,23px);
    @include opacity(1.0);
}

.RectangleToolUnpressed {
    @include background-pos(11,1,26px,23px);
    @include opacity(0.7);
}

.LineToolPressed {
    @include background-pos(2,1,26px,23px);
    @include opacity(1.0);
}

.LineToolUnpressed {
    @include background-pos(3,1,26px,23px);
    @include opacity(0.7);
}

.PencilToolPressed {
    @include background-pos(8,1,26px,23px);
    @include opacity(1.0);
}

.PencilToolUnpressed {
    @include background-pos(9,1,26px,23px);
    @include opacity(0.7);
}

.BrushToolPressed {
    @include background-pos(8,0,26px,23px);
    @include opacity(1.0);
}

.BrushToolUnpressed {
    @include background-pos(9,0,26px,23px);
    @include opacity(0.7);
}

.FillToolPressed {
    @include background-pos(10,0,26px,23px);
    @include opacity(1.0);
}

.FillToolUnpressed {
    @include background-pos(11,0,26px,23px);
    @include opacity(0.7);
}

.EyedropperToolPressed {
    @include background-pos(14,0,26px,23px);
    @include opacity(1.0);
}

.EyedropperToolUnpressed {
    @include background-pos(15,0,26px,23px);
    @include opacity(0.7);
}

.EraserToolPressed {
    @include background-pos(12,0,26px,23px);
    @include opacity(1.0);
}
.EraserToolUnpressed {
    @include background-pos(13,0,26px,23px);
    @include opacity(0.7);
}
.RotateStageTool3DPressed {
    @include background-pos(2,0,26px,23px);
    @include opacity(1.0);
}
.RotateStageTool3DUnpressed {
    @include background-pos(3,0,26px,23px);
    @include opacity(0.7);
}
.TranslateStageTool3DPressed {
    @include background-pos(6,0,26px,23px);
    @include opacity(1.0);
}
.TranslateStageTool3DUnpressed {
    @include background-pos(7,0,26px,23px);
    @include opacity(0.7);
}
.PanToolPressed {
    @include background-pos(0,1,26px,23px);
    @include opacity(1.0);
}
.PanToolUnpressed {
    @include background-pos(1,1,26px,23px);
    @include opacity(0.7);
}
.ZoomToolPressed {
    @include background-pos(6,2,26px,23px);
    @include opacity(1.0);
}

.ZoomToolUnpressed {
    @include background-pos(7,2,26px,23px);
    @include opacity(0.7);
}

.InkBottleToolPressed {
    background-image: url("../images/tools/inkbottle_down.png");
    background-repeat: no-repeat;
    height: 23px;
    width: 26px;
    opacity: 1;
}

.InkBottleToolUnpressed {
    background-image: url("../images/tools/inkbottle_down.png");
    background-repeat: no-repeat;
    height: 23px;
    width: 26px;
    opacity: 0.7;
}

/* Selection Tool Options */
.topAlignUp {

  @include background-pos(8,2,26px,23px);
}

.rightAlignUp {

  @include background-pos(9,2,26px,23px);
}

.bottomAlignUp {

  @include background-pos(10,2,26px,23px);
}

.verticalLeftUp {

  @include background-pos(11,2,26px,23px);
}

.verticalCenterUp {

  @include background-pos(12,2,26px,23px);
}

.verticalRightUp {

  @include background-pos(13,2,26px,23px);
}

.distRightUp {

  @include background-pos(0,3,26px,23px);
}

.distLeftUp {

  @include background-pos(14,2,26px,23px);
}

.distCenterUp {

  @include background-pos(2,3,26px,23px);
}

.distTopUp {

  @include background-pos(1,3,26px,23px);
}

.distBottomUp {

  @include background-pos(3,3,26px,23px);
}

.distVCenterUp {

  @include background-pos(15,2,26px,23px);
}

.bucketToolUp {
   @include background-pos(11,0,26px,23px);
}

.pencilToolUp {
   @include background-pos(9,1,26px,23px);
}

