<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="tools-list.css">
        <script type="text/montage-serialization">
        {
            "toolbutton1": {
                "prototype": "js/components/layout/tool-button.reel",
                "properties": {
                    "element": {"#": "toolbutton"}
                },
                "bindings": {
                    "data": {"<-": "@repetition1.objectAtCurrentIteration"}
                }
            },

            "groupLine": {
                "prototype": "montage/ui/condition.reel",
                "properties": {
                    "element": {"#": "groupLine"}
                },
                "bindings": {
                    "condition": {"<-": "@repetition1.objectAtCurrentIteration.lastInGroup"}
                }
            },

            "repetition1": {
                "prototype": "montage/ui/repetition.reel",
                "properties": {
                    "element": {"#": "toolscontainer"}
                },
                "bindings": {
                    "objects": {
                        "boundObject": {"@": "owner"},
                        "boundObjectPropertyPath": "toolsData.defaultToolsData",
                        "oneway": true
                    }
                }
            },

            "SelectionTool1": {
                "prototype": "js/tools/SelectionTool"
            },
            "Rotate3DTool1": {
                "prototype": "js/tools/RotateObject3DTool"
            },
            "Translate3DTool1": {
                "prototype": "js/tools/TranslateObject3DTool"
            },
            "TagTool1": {
                "prototype": "js/tools/TagTool"
            },
            "PenTool1": {
                "prototype": "js/tools/PenTool"
            },
            "TextTool1": {
                "prototype": "js/tools/TextTool"
            },
            "ShapeTool1": {
                "prototype": "js/tools/ShapeTool"
            },
            "OvalTool1": {
                "prototype": "js/tools/OvalTool"
            },
            "RectTool1": {
                "prototype": "js/tools/RectTool"
            },
            "LineTool1": {
                "prototype": "js/tools/LineTool"
            },
            "BrushTool1": {
                "prototype": "js/tools/BrushTool"
            },
            "FillTool1": {
                "prototype": "js/tools/FillTool"
            },
            "InkBottleTool1": {
                "prototype": "js/tools/InkBottleTool"
            },
            "EraserTool1": {
                "prototype": "js/tools/EraserTool"
            },
            "RotateStageTool3D1": {
                "prototype": "js/tools/RotateStage3DTool"
            },
            "PanTool1": {
                "prototype": "js/tools/PanTool"
            },
            "ZoomTool1": {
                "prototype": "js/tools/ZoomTool"
            },
            "BindingTool1": {
                "prototype": "js/tools/BindingTool"
            },

            "disable": {
                "prototype": "montage/ui/condition.reel",
                "properties": {
                    "element": {"#": "disabledCondition"}
                },
                "bindings": {
                    "condition": {
                        "boundObject": {"@": "owner"},
                        "boundObjectPropertyPath": "disabled",
                        "oneway": true
                    }
                }
            },

            "owner": {
                "prototype": "js/components/layout/tools-list.reel",
                "properties": {
                    "element": {"#": "toolsList"},
                    "SelectionTool":          {"@": "SelectionTool1"},
                    "Rotate3DTool":           {"@": "Rotate3DTool1"},
                    "Translate3DTool":        {"@": "Translate3DTool1"},
                    "TagTool":                {"@": "TagTool1"},
                    "PenTool":                {"@": "PenTool1"},
                    "TextTool":               {"@": "TextTool1"},
                    "ShapeTool":              {"@": "ShapeTool1"},
                    "OvalTool":               {"@": "OvalTool1"},
                    "RectTool":               {"@": "RectTool1"},
                    "LineTool":               {"@": "LineTool1"},
                    "BrushTool":              {"@": "BrushTool1"},
                    "FillTool":               {"@": "FillTool1"},
                    "InkBottleTool":          {"@": "InkBottleTool1"},
                    "EraserTool":             {"@": "EraserTool1"},
                    "RotateStageTool3D":      {"@": "RotateStageTool3D1"},
                    "PanTool":                {"@": "PanTool1"},
                    "ZoomTool":               {"@": "ZoomTool1"},
                    "bindingTool":            {"@": "BindingTool1"},
                    "components": [
                        {"@": "repetition1"}
                    ]
                }
            }
    	}
	    </script>

    </head>

    <body>
        <div data-montage-id="toolsList" class="toolsList">
            <div data-montage-id="toolscontainer" class="toolscontainer">
                <div data-montage-id="toolbutton" class="toolbutton"></div>
                <div data-montage-id="groupLine">
                    <hr />
                </div>
            </div>
            <div data-montage-id="disabledCondition" class="panelDisabled"></div>
        </div>

    </body>

</html>
