/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.style-sheet-container {
    border-bottom: 1px solid #505050;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    padding: 4px 0 3px;
    white-space: nowrap;
    position: relative;
}
.style-sheet-container > * {
    -webkit-box-flex: 1;
    display:-webkit-box;
}
.style-sheet-container input[type="checkbox"] {
    margin-right: 8px;
    position: relative;
    -webkit-box-flex: 0;
}
.style-sheet-container span {
    min-width: 50px;
    overflow: hidden;
    padding: 2px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.style-sheet-container label {
    -webkit-box-flex: 0;
    margin: 0 5px;
    padding: 2px 0;
}
.style-sheet-container input[type="text"] {
    min-width: 30px;
    -webkit-box-flex: 1;
    margin-right: 25px;
}

/* style sheet edit view */

.style-sheet-container .ss-edit-button {
    /* TODO: Use sass to minimize image redundancies */
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIE1hY2ludG9zaCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpDQkI4QzVEMTc3ODcxMUUxQTlCOUNDQUJBMEUyMTIwMSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpDQkI4QzVEMjc3ODcxMUUxQTlCOUNDQUJBMEUyMTIwMSI%2BIDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkNCQjhDNUNGNzc4NzExRTFBOUI5Q0NBQkEwRTIxMjAxIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkNCQjhDNUQwNzc4NzExRTFBOUI5Q0NBQkEwRTIxMjAxIi8%2BIDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY%2BIDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8%2Bs3B0RQAAAd9JREFUeNockbGL2nAUx%2FNLorHaJXKjJ6YcDkVcHByUQwQDbl26FqEu3dykLjoIXXTwDygKFcrRP%2BC8Q0HwQDlwOaRCKFiuCmo0d0Jr1ZjY923ghZfv9%2FN%2B7%2F1eOJ%2FPx%2BEpl8uKZVk3p9PpRlXV81QqdY4cGjww%2F9l2u81Fo1EuFotdbrdbzbbtX%2FP5%2FAqBHBo8MGB5RVF8yWTSv9%2FvXYIgsNVq9XcwGLxCIBdFkcEDA5YZhnFNJwXcbjc3Go32mUzmlsaYYAQ6QGk0GmooFJKoE8fz%2FE9%2BsVjIHo%2FHpes6y2azX8PhsNbtdtMI5NDggQHL0wW%2FdDodfTqdPm02m4dqtfqmXq9LCOTQ4IEBy3u93gdq9YfCplHM2Wz2gsZ7ptggJ%2B0ADwxYRuI1zfqaLvY7l8t9mkwmcqVSeWeapl0oFJqBQOCpVqt9lCTpJWnfWb%2Ffv6fKM2xot9s9FovFz71ez6ST7UQiIZVKpffUzU%2Ffp%2FV6vWLBYPDD8Xi8oJ%2FkarVaKhVatLlHxhgny7KfPCGdTt%2FS945W%2FEPUNO2KNihGIpH44XBI0Tak8Xh8hoJ4PC7RGCZN0BkOh3fEHUV6Gdi50%2BnUqaWxXC6FfD7%2FDQXNZvMtXdZyOBw6IUtw%2FwQYACT6GJDDh744AAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    padding: 0;
    width: 24px;
    height: 100%;
    opacity: 1;
    position: relative;
    left: -24px;
    -webkit-transition: background-color .55s cubic-bezier(.44,.19,0,.99);
    border-width: 0 0 0 1px;
    border-style: none none none solid;
    border-color: rgba(80, 80, 80, 0);
    opacity: .7;
}
.style-sheet-container button:hover {
    opacity: 1;
}
.style-sheet-container button:focus {
    outline: 0 none;
    box-shadow: none;
}

.style-sheet-edit {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -100%;
    height: 100%;
    width: 100%;
    -webkit-transition-property: -webkit-transform, background-color;
    -webkit-transition-duration: .55s;
    -webkit-transition-timing-function: cubic-bezier(.44,.19,0,.99);
}
.style-sheet-edit.expanded .ss-edit-button {
    background-color: #363636;
    border-color: rgba(80, 80, 80, 1);
    opacity: 1;
}
.style-sheet-edit.expanded {
    background-color: #363636;
}
.style-sheet-edit button.nj-skinned {
    height: 20px;
    padding: 2px 10px;
    margin-left: 5px;
    position: relative;
    left: -15px;
    top: 2px;
    text-transform: capitalize;
    font-size: 10px;
}
.style-sheet-edit .ss-delete-button {
    background: -webkit-linear-gradient(top, rgba(73,45,45,1) 0%,rgba(53,35,35,1) 100%);
}