/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.rule-list-container {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}
.rule-list {
    background-color: #FFF;
    background: #FFF -webkit-linear-gradient(top, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 4px);
    color: #333;
    display: block;
    font-family: monospace;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}
.rule-list li {
    list-style-type: none;
    margin: 0;
}

.hidden-rule-list {
    display: none;
}