/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.toolbar-container {
    background-color: #474747;
    border-bottom: 1px solid #333;
    border-top: 1px solid #505050;
    box-shadow:  0 4px 8px 0px rgba(0,0,0,0.75);
    height: 22px;
    width: 100%;
    -webkit-box-flex: 0;
}