<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
<head>
    <title>About Ninja...</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="about-box.css">
    <script type="text/montage-serialization">
         {
             "owner": {
                 "prototype": "js/components/about-box.reel",
                 "properties": {
                     "element": {"#": "mainAboutBoxContainer"}
                 }
             }
         }
     </script>
</head>
<body>
<div data-montage-id="mainAboutBoxContainer" class="mainAboutBoxContainer">
    <div id="about_box_ninja_logo"></div>
    <div id="aboutBoxTextBlock" class="baseAboutBoxText">
        <p class="mediumAboutBoxText">Version: <span id="aboutBoxVersionNumber">0.0.0.0</span></p>
        <p>Copyright &copy 2012 Motorola Mobility, Inc. All rights reserved.</p>
        <p>The Ninja application is made possible by the <a href="http://tetsubo.org/go/ninjaland" target="_blank" class="aboutBoxAnchor">Ninja open source project</a> and <a href="credits.html" target="_blank" class="aboutBoxAnchor">other open source software</a>.</p>
        <p>Ninja is available under <a href="license.html" target="_blank" class="aboutBoxAnchor">BSD License</a>.</p>
    </div>
</div>
</body>
</html>