/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

/*

<section data-montage-id="objects-panel" class="objects-panel">
    <ul data-montage-id="list" class="objects-list">
        <li data-montage-id="list-item" class="list-item"></li>
    </ul>
</section>

*/

.objects-list {
    margin: 10px 0 0 0;
    padding: 0;
}
.objects-list .list-item {
    list-style-type: none;
    float: left;
}
.object-icon {
    background-color: #fff;
    border: 1px solid #353535;
    border-radius: 5px;
    height: 50px;
    margin:  0 15px 5px;
    width: 50px;
}
.object-label {
    color: #fff;
    display: block;
    text-align: center;
}