/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.toolOptionsFloatChildren > * {
    float:left;
}

.inkBottleOptions {    
    padding: 6px;
}

.inkBottleOptions .nj-divider {
    margin-left: 16px;
    margin-right: 16px;
}

.toolOptionsFloatChildren select.nj-skinned {
    margin-top: 2px;
}

.inkBottleOptions label.disabled {
    color:#999999;
}

.inkBottleOptions label.disabled:hover {
    color:#999999;
    background-color: transparent;
    cursor:default;
}

.inkBottleOptions div.disabled:hover {
    background-color: transparent;
    cursor:default;
}

.inkBottleOptions .colorCtrlIcon {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    -webkit-transform: scale(0.8);
    background-color: rgb(40, 40, 40);
}