<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="ink-bottle-properties.css">

        <script type="text/montage-serialization">
        {
            "borderWidthCh": {
                "prototype": "montage/ui/checkbox.reel",
                "properties": {
                    "element": {"#": "useBorderWidthCh"},
                    "identifier": "useBorderWidth",
                    "checked": true
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"},
                        "capture": false
                    }
                ]
            },

            "borderWidthLabel": {
                "prototype": "montage/ui/dynamic-text.reel",
                "properties": {
                    "element": {"#": "borderWidthLabel"},
                    "value": "Border:"
                }
            },

            "borderWidthHT": {
                "prototype": "js/components/hottextunit.reel[HotTextUnit]",
                "properties": {
                    "element": {"#": "borderWidth"},
                    "minValue": 1,
                    "maxValue": 100,
                    "value": 1,
                    "acceptableUnits" : ["px", "pt"]
                }
            },

            "borderStyleCh": {
                "prototype": "montage/ui/checkbox.reel",
                "properties": {
                    "element": {"#": "useBorderStyleCh"},
                    "identifier": "useBorderStyle",
                    "checked": true
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"},
                        "capture": false
                    }
                ]
            },

            "borderStyleLabel": {
                "prototype": "montage/ui/dynamic-text.reel",
                "properties": {
                    "element": {"#": "borderStyleLabel"},
                    "value": "Style:"
                }
            },

            "strokeSizeCh": {
                "prototype": "montage/ui/checkbox.reel",
                "properties": {
                    "element": {"#": "useStrokeSizeCh"},
                    "identifier": "useStrokeSize",
                    "checked": true
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"},
                        "capture": false
                    }
                ]
            },

            "strokeSizeLabel": {
                "prototype": "montage/ui/dynamic-text.reel",
                "properties": {
                    "element": {"#": "strokeSizeLabel"},
                    "value": "Stroke:"
                }
            },

            "strokeSizeHT": {
                "prototype": "js/components/hottextunit.reel[HotTextUnit]",
                "properties": {
                    "element": {"#": "strokeSize"},
                    "minValue": 1,
                    "maxValue": 100,
                    "value": 1,
                    "decimalPlace": 10,
                    "acceptableUnits" : ["px", "pt"]
                }
            },

            "webGlCh": {
                "prototype": "montage/ui/checkbox.reel",
                "properties": {
                    "element": {"#": "useWebGLCHIB"},
                    "identifier": "useWebGl",
                    "checked": true
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"},
                        "capture": false
                    }
                ]
            },

            "_strokeMaterialCB": {
                "prototype": "js/components/combobox.reel",
                "properties": {
                    "element": {"#": "strokeMaterialIBCB"},
                    "labelField": "_name",
                    "dataField": "_name"
                }
            },

            "owner": {
                "prototype": "js/components/tools-properties/ink-bottle-properties.reel",
                "properties": {
                    "element": {"#": "inkBottleProperties"},

                    "useBorderWidth": {"@": "borderWidthCh"},
                    "borderWidthLabel": {"@": "borderWidthLabel"},
                    "_borderWidth": {"@": "borderWidthHT"},

                    "useBorderStyle": {"@": "borderStyleCh"},
                    "borderStyleLabel": {"@": "borderStyleLabel"},
                    "_borderStyle": {"#": "borderStyleCB"},

                    "useStrokeSize": {"@": "strokeSizeCh"},
                    "strokeSizeLabel": {"@": "strokeSizeLabel"},
                    "_strokeSize": {"@": "strokeSizeHT"},

                    "_useWebGL": {"@": "webGlCh"},
                    "_materialsContainer": {"#": "materialsContainerIB"},
                    "_strokeMaterial": {"@": "_strokeMaterialCB"}
                }
            }
        }
	    </script>
        
    </head>

    <body>
        <div data-montage-id="inkBottleProperties" class="subToolHolderPanel inkBottleOptions toolOptionsFloatChildren">
            <div data-montage-id="elementInkOptions" class="toolOptionsFloatChildren">
                <input data-montage-id="useBorderWidthCh" type="checkbox" name="useBorderWidthControl" class="nj-skinned" title="Apply border-width"/>
                <label data-montage-id="borderWidthLabel" class="label"> Border:</label>
                <div data-montage-id="borderWidth" class="label"></div>
                <input data-montage-id="useBorderStyleCh" type="checkbox" name="useBorderStyleControl" class="nj-skinned" title="Apply border-style"/>
                <label data-montage-id="borderStyleLabel" class="label"> Style:</label>
                <select data-montage-id="borderStyleCB" class="nj-skinned">
                    <option value="none">none</option>
                    <option value="solid" selected>solid</option>
                    <option value="hidden">hidden</option>
                    <option value="dotted">dotted</option>
                    <option value="dashed">dashed</option>
                    <option value="double">double</option>
                    <option value="groove">groove</option>
                    <option value="ridge">ridge</option>
                    <option value="inset">inset</option>
                    <option value="outset">outset</option>
                </select>
            </div>

            <div class="nj-divider divider-vertical">&nbsp;</div>

            <div data-montage-id="shapeInkOptions" class="toolOptionsFloatChildren">
                <input data-montage-id="useStrokeSizeCh" type="checkbox" name="useStrokeControl" class="nj-skinned" title="Apply stroke size"/>
                <label data-montage-id="strokeSizeLabel" class="label"> Stroke:</label>
                <div data-montage-id="strokeSize" class="label"></div>
            </div>

            <div data-montage-id="webGLInkOptions" class="toolOptionsFloatChildren">
                <input data-montage-id="useWebGLCHIB" type="checkbox" name="useWebGLControl" class="nj-skinned"/>
                <label class="label"> Use WebGL</label>

                <div data-montage-id="materialsContainerIB" class="toolOptionsFloatChildren">
                    <label class="label"> Materials:</label>
                    <div data-montage-id="strokeIconIB" class="colorCtrlIcon PencilTool"></div>
                    <select data-montage-id="strokeMaterialIBCB" class="nj-skinned"></select>
                </div>
            </div>
        </div>
    </body>

</html>