/* <copyright>
This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
(c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
</copyright> */

* {
    -webkit-transition-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    -webkit-animation-name: none !important;
}

.active-element-outline {
  outline: #adff2f solid 2px;
}

.nj-preset-transition {
    -webkit-transition: all 450ms linear !important;
}