<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
 
<html>

	<head>
	
		<title>Ninja Prototype</title>

        <link href="default_html.css" id="nj-stage-stylesheet" rel="stylesheet" type="text/css" media="screen"/>
    
    	<script type="text/javascript" data-package="." src="../../../../node_modules/montage/montage.js"></script>
    
    	<script type="text/javascript">
      		function getElement(x,y) {
            	return document.elementFromPoint(x,y);
        	}
    	</script>

        <script type="text/montage-serialization">
        {
            "owner": {
                "module": "main.reel",
                "name": "Main"
            }
        }
        </script>

        <style>
            div {
                width: 4000px;
                height: 300px;
                background: red;
            }
        </style>

	</head>

	<body>
		
		<div>IPSUM</div>

	</body>

</html>