/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.modalDialogHeader{
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.modalDialogHeader .separator{
    height: 4px;
    width:auto;
}

.close{
    float: right;
    cursor: pointer;
    position:relative;
    top:-1.4em;
    right:5px;
    color: #8c8c8c;
    font-weight:bold;
}

.title{
    text-align: center;
}

