/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */
.css-style-rule-item {
    position: relative;
}
.css-style-rule-item:after {
    content: "}";
    padding: 0 0 0 4px;
    position: relative;
    top: -10px;
}
.style-rule-heading {
    background-color: #f3f3f3;
    border: 1px #e7e7e7;
    border-style: solid none;
    box-shadow: inset 0 0 1px #FFF;
    padding: 4px;
}
.style-sheet-name {
    color: #333;
    position: absolute;
    right: 8px;
    text-decoration: none;
    font-family: "Droid Sans", sans-serif;
}