@charset "UTF-8";

/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

/* Span.scss
 * Main SCSS file for Span component, compiled by SASS into the file css/Span.css.
 */
 
// Import theme settings
@import "../../../../../scss/imports/themes/default/colors";
// @import "../../../../../scss/imports/themes/default/fonts";
@import "../../../../../scss/imports/themes/default/mixins";

// Import generic mixins and styles
@import "../../../../../scss/imports/scss/mixins";
// @import "../../../../../scss/imports/scss/Base";

.tween_span{
    position: absolute;
    height: 16px;
}
.tween_span .tween_span_bar {
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.15;
}

.tween_span.spanHighlight .tween_span_bar {
    background-color: #a0c8ff;
    opacity: 0.4;
}

