/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.newfile{
    font-size:12px;
    width:510px;
    height:500px;
    padding-left: 15px;
    padding-top: 15px;
    background-color:#313131;
}

.newfile .container{
    border: 1px groove #000000;
    overflow: auto;
    background-color:#5f5f5f;
}

.newfile .left-nav{
    float:left;
    width:27%;
    height:90%;
    overflow-x:hidden;
    overflow-y:auto
}

.newfile .right-nav{
    float:left;
    width:70%;
    height:90%;
    overflow: hidden;
}

.newfile .right-top{
    border: 1px groove #000000;
    overflow: auto;
    min-height:150px;
    height:55%;
    width:auto;
}

.newfile .right-bottom{
    border: 1px groove #000000;
    overflow: auto;
    height:45%;
    padding: 10px;
}

.newfile .driversList{
    padding: 3px;
    text-align: center;
}

.newfile .driversList:hover{
    cursor:pointer;
}

.newfile .projectTypeHeader{
    border-bottom:1px solid #000000;
    padding:5px;
    text-align: center;
    font-weight: bold;
}



.newfile .highlighted{
    background-color: #343434;
}


.newfile .buttons{
    float:right;
    margin-top: 7px;
}


.newfile .disable{
    color:#5f5f5f;
    cursor:auto;
}

.newfile .hide{
    display: none;
}

.newfile .treeArrow + .name{
    font-weight: bold;
}



