<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="text/m-objects">
    {
        "$rootObject": U("m-obj://Application/rootObject?mId=montage/application", {
            "components": [
                U("m-obj://Repetition/repetition-uuid?mId=montage/ui/repetition", {
                    "element": E("#testList"),
                    "objects": [
                        {type: "slider", value: 10},
                        {type: "slider", value: 20},
                        {type: "slider", value: 50}
                    ]

                })
            ]
        })
    }
    </script>

</head>
<body>

    <ul id="testList">
        <li id="substitution"></li>
    </ul>

</body>
</html>
