<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="zoom-properties.css">

        <script type="text/montage-serialization">
        {

            "owner": {
                "prototype": "js/components/tools-properties/zoom-properties.reel",
                "properties": {
                    "element": {"#": "zoomProperties"},
                    "zoomIn": {"#": "zoomInTool"},
                    "zoomOut": {"#": "zoomOutTool"}
                }
            }
    	}
	    </script>
      
    </head>

    <body>
        <div data-montage-id="zoomProperties" class="subToolHolderPanel">
            <div id="zoomToolOptionHolder" class="toolOptionsFloatChildren">
                    <input data-montage-id="zoomInTool" id="zoomInTool" type="radio" name="zoomRadio" class="toolOptsRadioButton zoomInToolIcon" title="Zoom In"checked/>
                    <input data-montage-id="zoomOutTool" id="zoomOutTool" type="radio" name="zoomRadio" class="toolOptsRadioButton zoomOutToolIcon" title="Zoom Out"/>
            </div>
        </div>
    </body>

</html>

        