/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

/* Layer.scss
 * Main SCSS file for Layer component, compiled by SASS into the file css/Layer.css.
 */
 
// Import theme settings
@import "../../../../../scss/imports/themes/default/colors";
@import "../../../../../scss/imports/themes/default/mixins";

// Import generic mixins and styles
@import "../../../../../scss/imports/scss/mixins";

.hidden {
	display: none;
}
.row-editor {
	position: relative;
	height: 14px;
}
.style-padding {
	padding-left: 5px;
	padding-top: 3px;
	padding-right: 5px;
}
.style-row {
	height: 20px;
	border-bottom: 1px solid $color-menu-divider;
}

div.content-style div.editable2 {
	height: 14px;
	background-color: $color-panel-hilite-text !IMPORTANT;
	color: $color-panel-hilite-bg !IMPORTANT;
	border-width: 0px;
	font-size: 11px;
	overflow: hidden;
    -webkit-user-select: text;
    white-space: nowrap;
    text-overflow: clip;
    width: 100%;
}
.content-style.collapsible-content,
.content-style.collapsible-content div,
.content-style.collapsible-content span {
	overflow: visible;
	text-overflow: visible;
}
div.content-style div.cell-property,
div.content-style div.cell-value {
	width: 45%;
	float: left;
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 18px;
}
div.content-style div.cell-property div {
	min-width: 90%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.content-style input.nj-skinned {
	height: 10px;
	font-size: 12px;
	top: -3px;
}
div.style-row .container-propvals {
	overflow: hidden;
}

.content-style .style-row.selected {
  background-color: $color-panel-bg;
  color: $color-panel-text;
}
.content-style .style-row.style-selected {
  background-color: $color-panel-hilite-bg;
  color: $color-panel-hilite-text;
}

.toolColorChipCtrl.color-chip-position{
  margin-top:0px;
  height:14px;
}
