<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="menu.css">

    <script type="text/montage-serialization">
        {
            "menudata": {
                "prototype": "js/data/menu-data",
                "bindings": {
                    "currentDocument": {"<-": "@owner.currentDocument"}
                }
            },

            "menuController": {
                "prototype": "montage/ui/controller/array-controller",
                "properties": {
                    "automaticallyOrganizeObjects": false
                },
                "bindings": {
                    "content": {"<-": "@menudata.topLevelMenu"}
                }
            },

            "repetition": {
                "prototype": "montage/ui/repetition.reel",
                "properties": {
                    "element": { "#": "topMenu" },
                    "contentController": {"@": "menuController"},
                    "menuComponent": {"@": "owner"}
                }
            },

            "menuEntry": {
                "prototype": "js/components/menu/menu-entry.reel",
                "properties": {
                    "element": { "#": "menuItem" }
                },
                "bindings": {
                    "data": {"<-": "@repetition.objectAtCurrentIteration"},
                    "_menu": {"<-": "@repetition.menuComponent"}
                }
            },
            
            "owner": {
                "prototype": "js/components/menu/menu.reel",
                "properties": {
                    "element":  {"#": "mainMenuBar"},
                    "controller": {"@": "menuController"},
                    "rep": {"@": "repetition"}
                }
            }
        }
    </script>

</head>
<body>

    <nav data-montage-id="mainMenuBar" class="mainMenuBar unselectable">
        <ul data-montage-id="topMenu" class="horizontal-menu">
            <li data-montage-id="menuItem"></li>
        </ul>
    </nav>


</body>
</html>
