.viewOptions{
    color:#F7F7F7;
    font-size:12px;
}

.viewOptions div{
    display:inline;
}

.viewOptions .autoCodeComplete{
    float:left;
    height: 20px;
}

.viewOptions .autoCodeComplete span{
    vertical-align: middle;
}

.viewOptions .autoCodeComplete .disabled{
    color:#515151;
}

.viewOptions .floatButtons{
    float:left;
    font-size:9px;
    padding-left: 20px;
}

.viewOptions .format{
    float:left;
    margin-left:5px;
    height: 20px;
}

.viewOptions .themeOptions{
    float: right;
    margin-right:5px;
}

.viewOptions .themeOptions select{
    background-color: #616161;
    color: white;
    font-size:9px;
    margin-top:2px;
    border-color: #616161;
}

.viewOptions .themeOptions select option{
    background-color: #616161;
    color: white;
    border-color: #616161;
}

