/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.breadcrumbbuttonBackground {
    height: 20px;
    min-width: 50px;
    margin: auto;
    border:1px solid black;
    float:left;
    margin-left:10px;
    background:#474747;
    margin-top:3px;
}


.breadcrumbtoolBarButton {
    border: 1px;
    color: white;
    text-align:-webkit-center;
    margin-top : 4px;
    cursor :default;
    font-family: 'Droid Sans';
    font-size: 12px;
    text-shadow: 1px 1px 1px black;

}



