.treeRoot > .branch > ul {
    margin-top: 0;
}
.branch ul {
    list-style: none;
    padding-left: 0;
}
.branch .nj-collapser {
    -webkit-transition: height 0.14s cubic-bezier(.44,.19,0,.99);
}
.branch .branchCollapser ul {
    width: 100%;
}
.treeRoot .branch .branch-label {
    border-bottom: 1px solid #505050;
    cursor: pointer;
    padding: 3px 0 4px;
    background-repeat: no-repeat;
    background-position: 3px 2px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    font-weight: bold;
    box-shadow: 0 3px 4px -4px rgba(0,0,0,0.2);
}

/* First Level */
.branch .branch .branch-label {
    padding-left: 25px;
}

/* Second Level */
.branch .branch .branch .branch-label {
    padding-left: 45px;
    background-position: 25px;
}