/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.treeRoot > .branch > ul {
    margin-top: 0;
}
.branch ul {
    list-style: none;
    padding-left: 0;
}
.branch .nj-collapser {
    -webkit-transition: height 0.14s cubic-bezier(.44,.19,0,.99);
}
.branch .branchCollapser ul {
    width: 100%;
}
.treeRoot .branch .branch-label {
    background-repeat: no-repeat;
    background-position: 3px 2px;
    border-bottom: 1px solid #505050;
    box-shadow: 0 3px 4px -4px rgba(0,0,0,0.2);
    color: #FFF;
    cursor: pointer;
    font-weight: bold;
    padding: 3px 0 4px;
    text-shadow: 1px 1px 1px #000;
}

/* First Level */
.branch .branch .branch-label {
    padding-left: 25px;
}

/* Second Level */
.branch .branch .branch .branch-label {
    padding-left: 45px;
    background-position: 25px;
}