/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.tree
{
    -webkit-user-select:none;
    cursor:default;
    float: left;
    padding-left: 0;
}

.tree li
{
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    list-style-type:none;
}

.tree li > text > img
{
    margin-right:8px;
    -webkit-transition: -webkit-transform 0.05s linear;
}