/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.edit-binding-view {
    background: #474747;
    color: #FFF;
    font-size: 11px;
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-transition-property: -webkit-transform, box-shadow;
    -webkit-transition-duration: .55s, .2s;
    -webkit-transition-timing-function: cubic-bezier(.44,.19,0,.99);
    -webkit-user-select: text;
}

.edit-object-binding {
    display: -webkit-box;
    -webkit-box-orient: horizontal
}
.edit-object-binding > div {
    -webkit-box-flex: 1;
    overflow: hidden;
}
.edit-object-binding .object-icon {
    -webkit-transform: scale(.75);
    float: left;
}

.edit-binding-view ul {
    padding: 0;
    margin: 0;
}

.edit-binding-view li {
    padding: 3px;
    list-style-type: none;
}

.edit-binding-view label {
    display: inline-block;
    width: 50%;
}

/* hintable fields */

.hintable-field {
    background-color: #444;
    border: 1px solid #313131;
    display: inline-block;
    height: 13px;
    margin-left: 5px;
    padding: 1px 4px;
    width: 45%;
}