<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="tag-properties.css">

        <script type="text/montage-serialization">
        {

            "owner": {
                "prototype": "js/components/tools-properties/tag-properties.reel",
                "properties": {
                    "element": {"#": "tagProperties"},

                    "_fillColorCtrl": {"#": "fillColorCtrl"},

                    "divElement": {"#": "divTool"},
                    "imageElement": {"#": "imageTool"},
                    "videoElement": {"#": "videoTool"},
                    "canvasElement": {"#": "canvasTool"},
                    "customElement": {"#": "customTool"},

                    "classField": {"#": "className"},

                    "customName": {"#": "customTagCB"},
                    "customLabel": {"#": "customContainer"}
                }
            }
    	}
	    </script>
       
    </head>

    <body>
        <div data-montage-id="tagProperties" class="subToolHolderPanel toolOptionsFloatChildren">
            <div data-montage-id="tagToolContainer" class="tagRadioButtons toolOptionsFloatChildren">
                <input type="radio" data-montage-id="divTool" class="toolOptsRadioButton divTool" title="Div Element" name="TagRadios" value="div" checked/>
                <input type="radio" data-montage-id="imageTool" class="toolOptsRadioButton imageTool" title="Image Element" name="TagRadios" value="image"/>
                <input type="radio" data-montage-id="videoTool" class="toolOptsRadioButton videoTool" title="Video Element" name="TagRadios" value="video"/>
                <input type="radio" data-montage-id="canvasTool" class="toolOptsRadioButton canvasTool" title="Canvas Element" name="TagRadios" value="canvas"/>
                <input type="radio" data-montage-id="customTool" class="toolOptsRadioButton customTool" title="Custom Element" name="TagRadios" value="custom"/>

                <div class="nj-divider divider-vertical toolOptionsSpacer">&nbsp;</div>

                <div class="toolColorChipIcon FillTool"></div>
                <div class="toolColorChipContainer"><div data-montage-id="fillColorCtrl" class="toolColorChipCtrl"></div></div>
                <div class="nj-divider divider-vertical toolOptionsSpacer">&nbsp;</div>

                <div id="classNameContainer">
                    <label class="label"> Class:</label>
                    <input data-montage-id="className" type="text" name="ClassNameTextBox" class="textBox nj-skinned"/>
                </div>

                <div id="customContainer">
                    <label class="label"> Tag Name:</label>
                    <select data-montage-id="customTagCB" class="nj-skinned">
                        <option>article</option>
                        <option>aside</option>
                        <option>section</option>
                    </select>
                </div>

                <div id="positionContainer">
                    <label class="label"> Position:</label>
                    <select data-montage-id="positionCB" class="nj-skinned">
                        <option>Static</option>
                        <option>Absolute</option>
                        <option>Relative</option>
                        <option>Fixed</option>
                        <option>Inherit</option>
                    </select>
                </div>
            </div>
        </div>
    </body>

</html>

