<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="tag-properties.css">

        <script type="text/montage-serialization">
        {

            "owner": {
                "module": "js/components/tools-properties/tag-properties.reel",
                "name": "TagProperties",
                "properties": {
                    "element": {"#": "tagProperties"},

                    "divElement": {"#": "divTool"},
                    "imageElement": {"#": "imageTool"},
                    "videoElement": {"#": "videoTool"},
                    "canvasElement": {"#": "canvasTool"},
                    "customElement": {"#": "customTool"},

                    "classField": {"#": "className"},

                    "customName": {"#": "customTagCB"},
                    "customLabel": {"#": "customContainer"}
                }
            }
    	}
	    </script>
       
    </head>

    <body>
        <div id="tagProperties" class="subToolHolderPanel">
            <div id="tagToolContainer" class="tagRadioButtons">
                <input type="radio" id="divTool" class="tag-type" title="Div Element" name="TagRadios" checked/>
                <input type="radio" id="imageTool" class="tag-type" title="Image Element" name="TagRadios"/>
                <input type="radio" id="videoTool" class="tag-type" title="Video Element" name="TagRadios"/>
                <input type="radio" id="canvasTool" class="tag-type" title="Canvas Element" name="TagRadios"/>
                <input type="radio" id="customTool" class="tag-type" title="Custom Element" name="TagRadios"/>

                <div class="nj-divider divider-vertical">&nbsp;</div>

                <div id="classNameContainer" class="leftLabel">
                    <label class="label"> Class:
                        <input id="className" type="text" name="ClassNameTextBox" class="textBox nj-skinned">
                    </label>
                </div>

                <div id="customContainer" class="leftLabel" style="padding-top: 3px;">
                    <label class="label"> Tag Name:</label>

                    <select id="customTagCB" class="nj-skinned">
                        <option>article</option>
                        <option>aside</option>
                        <option>section</option>
                    </select>
                </div>



                <div id="positionContainer" class="leftLabel" style="padding-top: 3px;">
                    <label class="label"> Position:</label>

                    <select id="positionCB" class="nj-skinned">
                        <option>Absolute</option>
                        <option>Relative</option>
                        <option>Fixed</option>
                        <option>Static</option>
                        <option>Inherit</option>
                    </select>

                </div>


            </div>
        </div>
    </body>

</html>

