@charset "UTF-8";
/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.materials_popup {
    width:400px;
    font-size: 12px;
    overflow: hidden;
    background: #494949;
    color: white;
}

.materials_popup hr {
    float: left;
    clear: both;
    width: 100%;
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #1d1d1d), color-stop(0.75, #424242));
    border: none;
    height: 2px;
    margin: 4px 0px 4px 0px;
}

#mp_title {
    margin: 4px 0px 0px 0px;
    text-align: center;
}

#mp_preview {
    height: 100px;
    text-align: center;
}

.mp_property
{
    height:40px;
}

.mp_property > .prop-label
{
  float: left;
  /*width:86px;*/
  margin: 0px 8px 2px 5px;
}

.mp_property > .prop-controller
{
  float: right;
  clear: left;
  width: auto;
  margin: 0px 0px 3px 0px;
}

.mp_buttons {
    clear:both;
    float: left;
    margin: 0px -4px 0px 4px;
    width: 97%;
}

.mp_buttons button {
  height: 22px;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

.mp_buttons .mp_cancel_btn {
    float: left;
    width: 60px;
}

.mp_buttons .mp_ok_btn {
    float: right;
    width: 30px;
}