@charset "UTF-8";
/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.materials_popup {
    width:400px;
    font-size: 12px;
    overflow: hidden;
    background: #494949;
    color: white;
}

.materials_popup hr {
    float: left;
    clear: both;
    width: 100%;
    display: block;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.5, #1d1d1d), color-stop(0.75, #424242));
    border: none;
    height: 2px;
    margin: 4px 0 4px 0;
}

.mp_title {
    margin: 4px 0 0 0;
    text-align: center;
}

.mp_preview {
    height: 100px;
    text-align: center;
}

.mp_property
{
    height:40px;
    position: relative;
}

.mp_property > .prop-label
{
    position:relative;
    top:12px;
    float: left;
    width: 100px;
}

.mp_property > .prop-controller
{
    position:relative;
    top:12px;
    left: 10px;
    float: left;
}

.mp_property .hottext,
.mp_property .hottextInput
{
    width: 30px;
}

.mp_property .button
{
    width: 30px;
    height: 20px;
}

.mp_property .inputRow
{
    top: 8px;
    position: relative;
}

.mp_properties_list
{
   padding-bottom: 8px;
}

.mp_properties_list > .mp_property > .colortoolbar
{
	width: 27px !important;
	height: 27px !important;
    overflow:hidden !important;
    margin-top: -6px;
}

.mp_properties_list .mp_property:first-child {
    margin-bottom: 12px;
}

.mp_buttons {
    clear:both;
    float: left;
    margin: 0 -4px 4px 4px;
    width: 97%;
}

.mp_buttons button {
  height: 22px;
  overflow: hidden;
  display: block;
  cursor: pointer;
}

.mp_buttons .mp_cancel_btn {
    float: left;
    width: 60px;
}

.mp_buttons .mp_ok_btn {
    float: right;
    width: 30px;
}