<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="document-entry.css">
        <script type="text/montage-serialization">
        {
            
            "owner": {
                "prototype": "js/components/layout/document-entry.reel",
                "properties": {
                    "element": {"#": "documentEntry"},
                    "label":    {"#": "name"}
                }
            },

            "closeButton": {
                "prototype": "montage/ui/button.reel",
                "properties": {
                    "element": {"#": "close-btn"}
                }
            }
    	}
		</script>
    </head>
    <body>
        <li data-montage-id="documentEntry" class="documentEntry">
            <span data-montage-id="name"></span>
            <!--<img src="js/components/layout/document-entry.reel/close_button.gif" data-montage-id="close-btn">-->
            <button type="button" class="mybutton" data-montage-id="close-btn"></button>
        </li>
    </body>
</html>