/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.treeRoot > .branch > ul {
    margin-top: 0;
}
.branch > .branch-label {
    font-weight: bold;
    cursor: pointer;
}
.branch ul {
    list-style: none;
}
.branch ul {
    padding-left: 30px;
}
.branch .collapse {
    display: none;
}