<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html lang="en">
	<head>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<link rel="stylesheet" type="text/css" href="ComponentsPanelBase.css">

        <script type="text/montage-serialization">
        {
            "componentControllerArrayTemp": {
                "module": "montage/ui/controller/array-controller",
                "name": "ArrayController",
                "bindings": {
                    "content": {
                        "boundObject": {"@": "owner"},
                        "boundObjectPropertyPath": "components"
                    }
                }
            },

            "owner": {
                "module": "js/panels/Components/ComponentsPanelBase.reel",
                "name": "ComponentsPanelBase",
                "properties": {
                    "element": {"#": "components_panel"}
                }
            },

            "componentsController" : {
                "module": "js/components/controllers/tree-controller",
                "name": "TreeController",
                "properties" : {
                    "branchKey" : "children",
                    "labelKey" : "text",
                    "delegate": {"@": "owner" }
                },
                "bindings": {
                    "content": {
                        "boundObject": {"@": "owner"},
                        "boundObjectPropertyPath": "data2"
                    }
                }
            },

            "componentsTree" : {
                "module" : "js/components/treeview/treeview.reel",
                "name" : "Treeview",
                "properties" : {
                    "element" : {"#": "componentsContainer"},
                    "branchComponent" : {"@": "branch" },
                    "contentController": {"@": "componentsController"},
                    "showRoot" : false
                }
            },

            "branch" : {
                "module" : "js/components/treeview/ninja-branch.reel",
                "name" : "Branch"
            }
        }
        </script>
   		
	</head>
	<body>
    
    	<div id="components_panel" class="components_panel">
            <div class="treeHolder">
               <ul id="comp_tree"></ul>
            </div>
           <div id="componentsContainer"></div>
    	</div>

    </body>
</html>