// <copyright>
// This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
// No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
// (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
// </copyright>

// 
// Tools.scss
// For individual tool styles in the toolbar, see toolbar.scss.
// Note that colors and font definitions go in 
// _scss/themes/themename/_colors.scss and _scss/themes/themename/_fonts.scss
// 
  

// Made changes to toolButton  }

.subToolHolderPanel .toolbutton {
    float:left;
    -webkit-transform: scale(0.6);
}

.subToolHolderPanel .toolbutton:hover, .subToolHolderPanel .toolbutton.active {
    -webkit-transform: scale(0.75);
}

.subOption{
    float:left;
    margin-top: 0px;
    margin-left: 1px;
    margin-right: 0px;
}

.subOptionSpacer{
    margin-right: 16px;
}

.toolSeparator {
    height:1px;
    width:30px;
    // margin-left: 3px; 
    // margin-right: 3px; 
}

.toolSeparatorTop {
    margin-top: 3px;
    margin-bottom: 0px;
}

.toolSeparatorMiddle {
    margin-top: 0px;
    margin-bottom: 0px;
}

.toolSeparatorBottom {
    margin-top: 0px;
    margin-bottom: 3px;
}

.toolImageBase {
    padding: 0px;
    width: 26px;
    height: 23px;
    opacity: 0.7;
    background-repeat:no-repeat;
}

.toolImageBase:hover {
   opacity: 1.0;
   }


.drawingMode {
    outline:blue solid thin;
}


//  Added new styling Sub Tool Shape Options 

.textBox {

   padding-top:3px;
   min-width:10em;
   // height:14px; 
   margin-left:5px;
   position:relative;
   margin-top:0px;
}

.selectBox {
   width:10em;
   opacity: 0.9;
   margin-left: 10px;
   float:left;
   display:block;
   background-color: $color-tool-select-bg;
   // -webkit-border-radius: 0; 
   border: 1px solid $color-tool-select-border;
   color:$color-tool-text;
   outline:none;
}

.selectBox:hover, .selectBox:active {
    background-color: $color-tool-select-hover-bg;
    opacity: 1;
    color:$color-tool-select-border;
}

.label{
   padding-top:3px;
   margin-left:10px;
   font-size:12px;
   // display:inline; 
   // line-height:10px; 
   float:left;
   margin-right:5px;
}

.subToolPropertiespanel{
   margin-left:43px;
}

.cornerRadius {
    background-image: url("../images/optionsbar/rectangle/cornerRadius.png");
    background-repeat:no-repeat;
    width:16px;
    height:16px;

    opacity:0.7;
}

.cornerRadius:hover, .cornerRadius:active {
    opacity:1;
}

.cornerRadius.topLeft
{
    -webkit-transform: rotate(0deg);
}

.cornerRadius.topRight
{
    -webkit-transform: rotate(90deg);
    margin-right : -2px;
}

.cornerRadius.bottomLeft
{
    margin-top: 3px;
    -webkit-transform: rotate(270deg);
}

.cornerRadius.bottomRight
{
    margin-top: 3px;
    -webkit-transform: rotate(180deg);
    margin-right : -2px;
}

#toolOptionsContainer
{
    display:inline;
    float:left;
    // margin-left: 20px; 
}

.leftLabel{
	margin-top: 3px;
	float:left;
}

//  Skin Radio Buttons  
input[type="radio"] {
    -webkit-appearance: none;
    background: $color-radio-bg;
    width: 28px;
    height: 24px;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    border-color:$color-radio-border;
    font-size:10px;
    color:$color-radio;
    margin:4px;
       
}

input[type="radio"]:hover {
    border-width: 1px;
    border-style: solid;
}

input[type="radio"]:checked {
    background:$color-radio-border;
    border-width: 1px;
    border-style: solid;
}

// disabled settings for checkbox and radiobutton 
input[type="radio"]:disabled {
    opacity: .3;
    background: $color-radio-border;
    border-width: 1px;
    border-style: solid;
}

.toolPropertiesContainer{
    float:left;
    margin-left:10%;
    width:100%;
}


.optionButtons{
    padding:2px;
    margin:1px 4px;
    float:left;
}

.checkBoxLabel{
    // margin-top:0.5em; 
    // margin-left:-5em; 
    padding-top:3px;
    font-size:12px;
    float:left;
    margin-right:5px;
}

.customTextBox{
    float:right;
    margin-left:2em;
    margin-right:4em;
    margin-top:3px;
    height:15px;
    
}
.toolButtonColor {
    background: $color-tool-bg;
    border-color: $color-tool-bg;
}

.toolButtonColor:active {
    background: $color-tool-bg-active;
}

.toolButtonSelectedColor {
    border-top-color: $color-tool-border-selected;
    border-left-color: $color-tool-border-selected;
  //   background: $color-tool-bg-active; 

}

.toolSeparatorTopColor {
    background: $color-tool-separator-top;
}

.toolSeparatorMiddleColor {
    background: $color-tool-separator-middle;
}

.toolSeparatorBottomColor {
    background: $color-tool-separator-bottom;
}


.selectedOption{
   background: $color-tool-bg-active;
   padding:2px;
   border:3px;


}
.noBorder{
    border-style:none;
}

.deselectedOption{
   background: $color-tool-bg;
   border-style:none;
   border:3px;
}

.checkBoxAlign{
  @include marginTop(-2px);
}

.optionLabel{
  @include marginTop(5px);
}

//  Begin: styles for tag toolbar  
.tagRadioButtons input.tag-type {
	background: none;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	margin-right: 5px;
	margin-top: 4px;
	background-repeat: no-repeat;
	opacity: 0.8;
	text-indent: -9999px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-webkit-user-select: none;
	border: 1px solid transparent;
}
.tagRadioButtons input.tag-type {
	background-image: url("../images/tools/sprite-toolbar-tag.png");
}
.tagRadioButtons input.tag-type:active {
	border: 1px solid transparent;
}
.tagRadioButtons input.tag-type:hover {
	opacity: 1.0;
	-webkit-box-shadow: 0px 0px 4px #fff;
}
.tagRadioButtons input.tag-type:checked {
	background-color: transparent;
	opacity: 1.0;
	cursor: default;
	-webkit-box-shadow: none;
}
.tagRadioButtons input.divTool {
	margin-left: 8px;
	background-position: -40px 0px;
}
.tagRadioButtons input.divTool:checked {
	background-position: -40px -20px;
}
.tagRadioButtons input.imageTool {
	background-position: -60px 0px;
}
.tagRadioButtons input.imageTool:checked {
	background-position: -60px -20px;
}
.tagRadioButtons input.videoTool {
	background-position: -100px 0px;
}
.tagRadioButtons input.videoTool:checked {
	background-position: -100px -20px;
}
.tagRadioButtons input.canvasTool {
	background-position: -20px 0px;
}
.tagRadioButtons input.canvasTool:checked {
	background-position: -20px -20px;
}
.tagRadioButtons input.customTool {
	background-position: 0px 0px;
}
.tagRadioButtons input.customTool:checked {
	background-position: 0px -20px;
}

.tagRadioButtons .nj-divider {
	height: 100%;
	float: left;
	position: relative;
	top: 5px;
}

.tagRadioButtons select.nj-skinned {
	visibility: visible;
	position: relative;
}

.tagRadioButtons select[disabled="true"].nj-skinned,
.tagRadioButtons select[disabled].nj-skinned  {
	visibility: hidden;
}

.tagRadioButtons .fillColorCtrl {
    width: 18px;
    height: 18px;
    margin-top: 6px;
    margin-left: 3px;    
    margin-right: 8px;    
    border: 1px black solid;
}

.tagRadioButtons .colorCtrlIcon {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    -webkit-transform: scale(0.8);
    background-color: rgb(40, 40, 40);
}
//  End: styles for tag toolbar  

#zoomToolOptionHolder input#zoomInTool:checked{
    border-style:solid;
    border-width:1px ;
    border-color: $color-input;
    background-image:url("../images/optionsbar/zoom/zoom_plus.png");
    background-repeat: no-repeat;
    background-position:4px 3px;
}

#zoomToolOptionHolder input#zoomOutTool:checked{
    border-style:solid;
    border-width:1px ;
    border-color: $color-input;
    background-image:url("../images/optionsbar/zoom/zoom_minus.png");
    background-repeat: no-repeat;
    background-position:4px 3px;
}

#zoomToolOptionHolder input#zoomInTool{
    border-style:solid;
    border-width:1px ;
    background-image:url("../images/optionsbar/zoom/zoom_plus.png");
    background-repeat: no-repeat;
    background-position:4px 3px;
}

#zoomToolOptionHolder input#zoomOutTool{
    border-style:solid;
    border-width:1px ;
    background-image:url("../images/optionsbar/zoom/zoom_minus.png");
    background-repeat: no-repeat;
    background-position:4px 3px;

}
#zoomToolOptionHolder input.zoom-option {
    background:none;
}

// object 3D container styles
.object3DToolContainer input.tag-type {
	background: none;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	margin-right: 5px;
	margin-top: 4px;
	background-repeat: no-repeat;
	opacity: 0.8;
	text-indent: -9999px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-webkit-user-select: none;
	border: 1px solid transparent;
}
.object3DToolContainer input.tag-type {
	background-image: url("../images/tools/sprite-toolbar-3d.png");
}
.object3DToolContainer input.tag-type:active {
	border: 1px solid transparent;
}
.object3DToolContainer input.tag-type:hover {
	opacity: 1.0;
	-webkit-box-shadow: 0px 0px 4px #fff;
}
.object3DToolContainer input.tag-type:checked {
	background-color: transparent;
	opacity: 1.0;
	cursor: default;
	-webkit-box-shadow: none;
}
.object3DToolContainer input.rotateLocally {
	background-position: -20px 0px;
}
.object3DToolContainer input.rotateLocally:checked {
	background-position: -20px -20px;
}
.object3DToolContainer input.rotateGlobally {
	background-position: 0px 0px;
}
.object3DToolContainer input.rotateGlobally:checked {
	background-position: 0px -20px;
}
