// <copyright>
// This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
// No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
// (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
// </copyright>

// 
// toolbar.scss
// Styles governing the individual tools.
// Note that colors and font definitions go in 
// _scss/themes/themename/_colors.scss and _scss/themes/themename/_fonts.scss
  

//  New Tool List CSS
#toolsPanelContent {
    width:40px;
}

.toolsList {
    width:30px;
    margin:auto;
}

.toolsList hr {
    border:0px;
    border-top: 1px solid #232323;
    border-bottom: 1px solid #3A3A3A;
    margin:2px;
}

.toolbutton {
    width:30px;
    height:30px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-border-radius:4px;
    opacity: 0.6;
    margin-bottom: 2px;
}

.toolsList .toolbutton:hover, .toolsList .active {
    box-shadow: inset 0px 0px 8px #999;
    opacity: 1;
}

.toolsList .active {
    background-color:#555;
}

.SelectionTool {
    background-image:url("../images/tools/Tool-Selection.png");
}

.SubselectionTool {
    background-image:url("../images/tools/Tool-Subselect.png");
}

.RotateTool3D {
    background-image:url("../images/tools/Tool-3DRotate.png");
}

.Translate3D {
    background-image:url("../images/tools/Tool-3DTranslate.png");
}

.TagTool {
    background-image:url("../images/tools/Tool-Tag.png");
}

.PenTool {
    background-image:url("../images/tools/Tool-Pen.png");
}

.TextTool {
    background-image:url("../images/tools/Tool-Text.png");
}

.ShapeContainer {
    background-image:url("../images/tools/Tool-Rectangle.png");
}

.OvalTool {
    background-image:url("../images/tools/Tool-Oval.png");
}

.RectangleTool {
    background-image:url("../images/tools/Tool-Rectangle.png");
}

.LineTool {
    background-image:url("../images/tools/Tool-Stroke.png");
}

.PencilTool {
    background-image:url("../images/tools/Tool-Pencil.png");
}

.BrushTool {
    background-image:url("../images/tools/Tool-PaintBrush.png");
}

.FillTool {
    background-image:url("../images/tools/Tool-Fill.png");
}

.EyedropperTool {
    background-image:url("../images/tools/Tool-EyeDropper.png");
}

.EraserTool {
    background-image:url("../images/tools/Tool-Erase.png");
}

.RotateStageTool3D {
    background-image:url("../images/tools/Tool-3DRotateStage.png");
}

.TranslateStageTool3D {
    background-image:url("../images/tools/Tool-3DTranslateStage.png");
}

.PanTool {
    background-image:url("../images/tools/Tool-Pan.png");
}

.ZoomTool {
    background-image:url("../images/tools/Tool-Zoom.png");
}

.InkBottleTool {
    background-image:url("../images/tools/Tool-FillColor.png");
}

.toolsList .colortoolbar {
    padding-left: 1px;
    padding-top:4px;
}

.toolsList .colortoolbar button
{
	width: 27px;
	height: 27px;
	background: black;
	border: 1px solid #000;
	padding: 0;
	margin: 0px;
}

.toolsList .colortoolbar div
{
	width: 27px;
	height: 27px;
	margin: 0;
   margin-top:3px;
}

.toolsList .colortoolbar div.cpe_colortoolbar_container
{
	margin: 0;
}



/*.InkBottleToolPressed {*/
    /*background-image: url("../images/tools/inkbottle_down.png");*/
    /*background-repeat: no-repeat;*/
    /*height: 23px;*/
    /*width: 26px;*/
    /*opacity: 1;*/
/*}*/

/*.InkBottleToolUnpressed {*/
    /*background-image: url("../images/tools/inkbottle_down.png");*/
    /*background-repeat: no-repeat;*/
    /*height: 23px;*/
    /*width: 26px;*/
    /*opacity: 0.7;*/
/*}*/

/*//  Selection Tool Options  */
/*.topAlignUp {*/

  /*@include background-pos(8,2,26px,23px);*/
/*}*/

/*.rightAlignUp {*/

  /*@include background-pos(9,2,26px,23px);*/
/*}*/

/*.bottomAlignUp {*/

  /*@include background-pos(10,2,26px,23px);*/
/*}*/

/*.verticalLeftUp {*/

  /*@include background-pos(11,2,26px,23px);*/
/*}*/

/*.verticalCenterUp {*/

  /*@include background-pos(12,2,26px,23px);*/
/*}*/

/*.verticalRightUp {*/

  /*@include background-pos(13,2,26px,23px);*/
/*}*/

/*.distRightUp {*/

  /*@include background-pos(0,3,26px,23px);*/
/*}*/

/*.distLeftUp {*/

  /*@include background-pos(14,2,26px,23px);*/
/*}*/

/*.distCenterUp {*/

  /*@include background-pos(2,3,26px,23px);*/
/*}*/

/*.distTopUp {*/

  /*@include background-pos(1,3,26px,23px);*/
/*}*/

/*.distBottomUp {*/

  /*@include background-pos(3,3,26px,23px);*/
/*}*/

/*.distVCenterUp {*/

  /*@include background-pos(15,2,26px,23px);*/
/*}*/

/*.bucketToolUp {*/
   /*@include background-pos(11,0,26px,23px);*/
/*}*/

/*.pencilToolUp {*/
   /*@include background-pos(9,1,26px,23px);*/
/*}*/

