// <copyright>
// This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
// No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
// (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
// </copyright>

//Binding Mode

.panels .panel {
    display: none;
}

.panels .panel.ws-binding {
    display:none;
    -webkit-box-flex-group:2;
}

body.ws-binding .panel.ws-binding {
    display:-webkit-box;
}

body.ws-default .panel.default {
    display:-webkit-box;
    -webkit-box-flex-group:1;
}