<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="rect-properties.css">

        <script type="text/montage-serialization">
        {
            "hottext1": {
                "prototype": "js/components/hottextunit.reel[HotTextUnit]",
                "properties": {
                    "element": {"#": "TLRadiusControl"},
                    "acceptableUnits" : ["px", "pt", "%"],
                    "identifier": "TLRadiusControl"
                },
                "listeners": [
                    {
                        "type": "change",
                        "listener": {"@": "owner"}
                    },
                    {
                        "type": "changing",
                        "listener": {"@": "owner"}
                    }
                ]
            },

            "hottext2": {
                "prototype": "js/components/hottextunit.reel[HotTextUnit]",
                "properties": {
                    "element": {"#": "TRRadiusControl"},
                    "acceptableUnits" : ["px", "pt", "%"],
                    "enabled": false
                },
                "listeners": [
                    {
                        "type": "change",
                        "listener": {"@": "owner"}
                    }
                ]
            },

            "hottext3": {
                "prototype": "js/components/hottextunit.reel[HotTextUnit]",
                "properties": {
                    "element": {"#": "BLRadiusControl"},
                    "acceptableUnits" : ["px", "pt", "%"],
                    "enabled": false
                },
                "listeners": [
                    {
                        "type": "change",
                        "listener": {"@": "owner"}
                    }
                ]
            },

            "hottext4": {
                "prototype": "js/components/hottextunit.reel[HotTextUnit]",
                "properties": {
                    "element": {"#": "BRRadiusControl"},
                    "acceptableUnits" : ["px", "pt", "%"],
                    "enabled": false
                },
                "listeners": [
                    {
                        "type": "change",
                        "listener": {"@": "owner"}
                    }
                ]
            },

            "lockButton": {
                "prototype": "montage/ui/toggle-button.reel",
                "properties": {
                    "element": {"#": "lockButton"},
                    "pressed": true,
                    "pressedClass": "lockUp",
                    "preventFocus": true,
                    "identifier": "lockButton"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },

            "owner": {
                "prototype": "js/components/tools-properties/rect-properties.reel",
                "properties": {
                    "element": {"#": "rectProperties"},
                    "lockButton": {"@": "lockButton"},
                    "TLRadiusControl": {"@": "hottext1"},
                    "TRRadiusControl": {"@": "hottext2"},
                    "BLRadiusControl": {"@": "hottext3"},
                    "BRRadiusControl": {"@": "hottext4"}
                }
            }
    	}
	    </script>

    </head>

    <body>
        <div data-montage-id="rectProperties" class="rectProperties toolOptionsFloatChildren">
            <button data-montage-id="lockButton" id="lockButton" class="unlock"></button>
            <div id="TLRadiusLabel" class="unselectable subToolButton cornerRadius topLeft"></div>
            <div data-montage-id="TLRadiusControl" class=""></div>
            <div id="TRRadiusLabel" class="unselectable subToolButton cornerRadius topRight"></div>
            <div data-montage-id="TRRadiusControl" class=""></div>
            <div id="BLRadiusLabel" class="unselectable subToolButton cornerRadius bottomLeft"></div>
            <div data-montage-id="BLRadiusControl" class=""></div>
            <div id="BRRadiusLabel" class="unselectable subToolButton cornerRadius bottomRight"></div>
            <div data-montage-id="BRRadiusControl" class=""></div>
        </div>
    </body>
</html>