/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

#lockButton {
    float:left;
    border: none;
    background-color: transparent;
    top: 2px;
    opacity: 0.7;
    width: 17px;
    height: 18px;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 1px;
}

.rectProperties .subToolButton {
    margin-right: 7px;
}

.rectProperties .button:hover
{
    opacity:1;
}

.rectProperties .button:active
{
    outline:solid 1px black;
}

.rectProperties .button.on
{
    background-color: #333333;
}

.rectProperties .button.off
{
    background-color: #cccccc;
    color:black;
}