<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <!--<link rel="stylesheet" type="text/css" href="tools-properties.css">-->

        <script type="text/montage-serialization">
        {

            "owner": {
                "prototype": "js/components/tools-properties/object3d-properties.reel[Object3DProperties]",
                "properties": {
                    "element": {"#": "object3DProperties"},

                    "rotateLocally": {"#": "rotateLocally"},
                    "rotateGlobally": {"#": "rotateGlobally"}

                }
            }
    	}
	    </script>

    </head>

    <body>
        <div data-montage-id="object3DProperties" class="subToolHolderPanel">
            <div class="tagRadioButtons object3DToolContainer">
                <input type="radio" data-montage-id="rotateLocally" class="tag-type rotateLocally" title="Rotate Locally" name="rotateObject" checked/>
                <input type="radio" data-montage-id="rotateGlobally" class="tag-type rotateGlobally" title="Rotate Globally" name="rotateObject"/>
            </div>
        </div>
    </body>

</html>