<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="fill-properties.css">

        <script type="text/montage-serialization">
        {
            "useFillColor": {
                "prototype": "montage/ui/input-checkbox.reel",
                "properties": {
                    "element": {"#": "useFillColor"},
                    "identifier": "useFillColor",
                    "checked": true
                }
            },

            "useWebGL": {
                "prototype": "montage/ui/input-checkbox.reel",
                "properties": {
                    "element": {"#": "useWebGL"},
                    "identifier": "useWebGL",
                    "checked": false
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"},
                        "capture": false
                    }
                ]
            },

            "fillMaterial": {
                "prototype": "js/components/combobox.reel",
                "properties": {
                    "element": {"#": "fillMaterial"},
                    "labelField": "_name",
                    "dataField": "_name"
                }
            },
            "owner": {
                "prototype": "js/components/tools-properties/fill-properties.reel",
                "properties": {
                    "element": {"#": "fillProperties"},

                    "useFillColor": {"@": "useFillColor"},
                    "_fillColorCtrl": {"#": "fillColorCtrl"},

                    "useWebGL": {"@": "useWebGL"},
                    "_materialsContainer": {"#": "materialsContainer"},
                    "fillMaterial": {"@": "fillMaterial"}
                }
            }
    	}
        </script>

    </head>

    <body>
        <div data-montage-id="fillProperties" class="subToolHolderPanel optionsFillTool toolOptionsFloatChildren">
            <input data-montage-id="useFillColor" type="checkbox" name="useFillColorControl" class="nj-skinned"/>
            <div class="toolColorChipIcon FillTool"></div>
            <div class="toolColorChipContainer"><div data-montage-id="fillColorCtrl" class="toolColorChipCtrl"></div></div>
            <div class="nj-divider divider-vertical toolOptionsSpacer">&nbsp;</div>

            <input data-montage-id="useWebGL" type="checkbox" name="useWebGLControl" class="nj-skinned"/>
            <label class="label">Use WebGL</label>
            <div data-montage-id="materialsContainer" class="materialsContainerOptions toolOptionsFloatChildren" style="display:none;">
                <label class="label">Material:</label>
                <div data-montage-id="fillIcon" class="toolColorChipIcon FillTool"></div>
                <select data-montage-id="fillMaterial" class="nj-skinned">
                </select>
            </div>
        </div>
    </body>

</html>