@charset "UTF-8";
/*
	<copyright>
	This file contains proprietary software owned by Motorola Mobility, Inc.
	No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.
	(c) Copyright 2011 Motorola Mobility, Inc. All Rights Reserved.
	</copyright>
*/
/* line 17, colortoolbar.scss */
.colortoolbar button {
  float: left;
  clear: both;
  width: 27px;
  height: 27px;
  background: black;
  border: 1px solid #000;
  padding: 0;
  margin: 0px;
}

/* line 29, colortoolbar.scss */
.colortoolbar div {
  float: left;
  clear: both;
  width: 27px;
  height: 27px;
  margin: 6px 10px 1px 9px;
  background: url(../../../../../images/colorpanel/transparent.png) repeat;
}

/* line 39, colortoolbar.scss */
.colortoolbar div.cpe_colortoolbar_container {
  margin: 0px 0px 4px 7px;
}

/* line 44, colortoolbar.scss */
.toolbar_hr {
  height: 1px;
  border: none;
  background-color: #565656;
  border-top: 1px solid #3E3E3E;
  margin: 8px 6px 0px 4px;
  width: 32px;
  display: block;
}
