/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.atreeItem{
    display:block;
    padding:3px;
    white-space: nowrap;
}

.atreeItem .treeArrow{
    font-size: 8px;
    cursor:pointer;
    position:relative;
}

.atreeItem .hidden{
    visibility:hidden;
}

.atreeItem .hideTree{
    display:none;
}

.atreeItem .atreeItemImgContainer{
    display:inline;
}

.atreeItem .name{
    white-space: pre;
    text-overflow:ellipsis;
    line-height:15px;
    overflow: hidden;
    cursor:pointer;
}

.atreeItem .atreeItemImg{
    width:15px;
    height:15px;
    position:relative;
    top:2px;
    /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);*/
}

.atreeItem .treeArrow.expanded{
    -webkit-transform: rotate(-90deg);
}

.atreeItem .bold{
    font-weight: bold;
}