/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.icon{
    width:88px;
    height:78px;
    display: inline;
    float: left;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    background-color: #5f5f5f;
}

.icon .selected{
    background-color: #919191;
}

/*highlight on hover*/
.icon:hover{
    background-color: #919191;
}
/*end- test*/

.icon .iconImg{
    width:35px;
    height:35px;
    margin-left: 26px;
    margin-top: 10px;
}

.icon .iconLabel{
    margin-top:8px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height:15px;
    overflow: hidden;
    width: 72px;
    padding: 0px 8px;
    text-align: center;
}