<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="text-properties.css">

        <script type="text/montage-serialization">
        {

            "owner": {
                "module": "js/components/tools-properties/text-properties.reel",
                "name": "TextProperties",
                "properties": {
                    "element": {"#": "textProperties"},
                    "className": {"@": "className"},
                    "tagType": {"@": "tagType"},
                    "fontSelection": {"@": "fontSelection"},
                    "fontSettings": {"@": "fontSettings"},
                    "fontSize": {"@": "fontSize"},
                    "fontColor": {"@": "fontColor"},
                    "btnBold": {"@": "btnBold"},
                    "btnItalic": {"@": "btnItalic"},
                    "btnUnderline": {"@": "btnUnderline"},
                    "btnStrikethrough": {"@": "btnStrikethrough"},
                    "txtLink": {"@": "txtLink"},
                    "linkTarget": {"@": "linkTarget"},
                    "alignLeft": {"@": "alignLeft"},
                    "alignCenter": {"@": "alignCenter"},
                    "alignRight": {"@": "alignRight"},
                    "alignJustify": {"@": "alignJustify"},
                    "indent": {"@": "indent"},
                    "outdent": {"@": "outdent"},
                    "numberedList": {"@": "numberedList"},
                    "bulletedList": {"@": "bulletedList"}
                }
            },
            "className": {
                "module": "js/components/textfield.reel",
                "name": "TextField",
                "properties": {
                    "element": {"#": "className"}
                }
            },
            "tagType": {
                "module": "js/components/combobox.reel",
                "name": "Combobox",
                "properties": {
                    "element": {"#": "tagType"}
                }
            },
            "fontSelection": {
                "module": "js/components/combobox.reel",
                "name": "Combobox",
                "properties": {
                    "element": {"#": "fontSelection"},
                    "identifier": "fontSelection"
                },
                "listeners": [
                    {
                        "type": "change",
                        "listener": {"@": "owner"}
                    }
                ]

            },
            "fontSettings": {
                "module": "js/components/button.reel",
                "name": "Button",
                "properties": {
                    "element": {"#": "fontSettings"}
                }
            },

            "fontSize": {
                "module": "js/components/combobox.reel",
                "name": "Combobox",
                "properties": {
                    "element": {"#": "fontSize"},
                    "identifier": "fontSize"
                },
                "listeners": [
                    {
                        "type": "change",
                        "listener": {"@": "owner"}
                    }
                ]

            },
        
            "btnBold": {
                "module": "montage/ui/toggle-button.reel",
                "name": "ToggleButton",
                "properties": {
                    "element": {"#": "btnBold"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "btnBold",
                    "pressedLabel": "B",
                    "unpressedLabel": "B"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            "btnItalic": {
                "module": "montage/ui/toggle-button.reel",
                "name": "ToggleButton",
                "properties": {
                    "element": {"#": "btnItalic"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "btnItalic",
                    "pressedLabel": "I",
                    "unpressedLabel": "I"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            "btnUnderline": {
                "module": "montage/ui/toggle-button.reel",
                "name": "ToggleButton",
                "properties": {
                    "element": {"#": "btnUnderline"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "btnUnderline",
                    "pressedLabel": "U",
                    "unpressedLabel": "U"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            "btnStrikethrough": {
                "module": "montage/ui/toggle-button.reel",
                "name": "ToggleButton",
                "properties": {
                    "element": {"#": "btnStrikethrough"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "btnStrikethrough",
                    "pressedLabel": "S",
                    "unpressedLabel": "S"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            
            "alignLeft": {
                "module": "montage/ui/toggle-button.reel",
                "name": "ToggleButton",
                "properties": {
                    "element": {"#": "alignLeft"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "alignLeft",
                    "pressedLabel": "Left",
                    "unpressedLabel": "Left"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            "alignCenter": {
                "module": "montage/ui/toggle-button.reel",
                "name": "ToggleButton",
                "properties": {
                    "element": {"#": "alignCenter"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "alignCenter",
                    "pressedLabel": "Center",
                    "unpressedLabel": "Center"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            "alignRight": {
                "module": "montage/ui/toggle-button.reel",
                "name": "ToggleButton",
                "properties": {
                    "element": {"#": "alignRight"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "alignRight",
                    "pressedLabel": "Right",
                    "unpressedLabel": "Right"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            "alignJustify": {
                "module": "montage/ui/toggle-button.reel",
                "name": "ToggleButton",
                "properties": {
                    "element": {"#": "alignJustify"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "alignJustify",
                    "pressedLabel": "Justify",
                    "unpressedLabel": "Justify"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            "indent": {
                "module": "montage/ui/button.reel",
                "name": "Button",
                "properties": {
                    "element": {"#": "indent"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "indent",
                    "label": ">>"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            "outdent": {
                "module": "montage/ui/button.reel",
                "name": "Button",
                "properties": {
                    "element": {"#": "outdent"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "outdent",
                    "label": "<<"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            "bulletedList": {
                "module": "montage/ui/toggle-button.reel",
                "name": "ToggleButton",
                "properties": {
                    "element": {"#": "bulletedList"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "bulletedList",
                    "pressedLabel": "• • •",
                    "unpressedLabel": "• • •"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            },
            "numberedList": {
                "module": "montage/ui/toggle-button.reel",
                "name": "ToggleButton",
                "properties": {
                    "element": {"#": "numberedList"},
                    "pressedClass": "active",
                    "preventFocus": true,
                    "identifier": "numberedList",
                    "pressedLabel": "1 2 3",
                    "unpressedLabel": "1 2 3"
                },
                "listeners": [
                    {
                        "type": "action",
                        "listener": {"@": "owner"}
                    }
                ]
            }

    	}
	    </script>

    </head>

    <body>
        <div id="textProperties" class="subToolHolderPanel optionsTextTool">
            <label class="label" style="display: none">Class:</label>
            <input id="className" style="display: none" />
            <label class="label" style="display: none">Tag:</label>
            <select id="tagType" style="display: none"></select>
            <label class="label">Font:</label>
            <select id="fontSelection" class="nj-skinned fontSelection"></select>
            <button id="fontSettings" style="display: none"></button>
            <label class="label">Size:</label>
            <select id="fontSize" class="nj-skinned"></select>
            <div class="fontColor"></div>
            <div class="btnGroup">
                <button id="btnBold" class="btnBold nj-skinned" style="font-weight:bold"></button>
                <button id="btnItalic" class="btnItalic nj-skinned" style="font-style: italic;"></button>
                <button id="btnUnderline" class="btnUnderline nj-skinned" style="text-decoration: underline;"></button>
                <button id="btnStrikethrough" class="btnStriketrough nj-skinned" style="text-decoration: line-through;"></button>
            </div>
            <div class="btnGroup">
                <button id="alignLeft" class="nj-skinned"></button>
                <button id="alignCenter" class="nj-skinned"></button>
                <button id="alignRight" class="nj-skinned"></button>
                <button id="alignJustify" class="nj-skinned"></button>
            </div>
            <div class="btnGroup">
                <button id="indent" class="nj-skinned"></button>
                <button id="outdent" class="nj-skinned"></button>
            </div>
            <div class="btnGroup">
                <button id="bulletedList" class="nj-skinned"></button>
                <button id="numberedList" class="nj-skinned"></button>
            </div>
        </div>
    </body>

</html>