<!DOCTYPE HTML>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="color-chip.css">
    <script type="text/montage-serialization">
    {
        "owner": {
            "prototype": "js/components/ui/color-chip.reel",
            "properties": {
                "element":  {"#": "colorChipContainer"},
                "icon":     {"#": "chipIcon"},
                "chipBtn":  {"#": "chipButton"}
            }
        }
    }
    </script>
</head>
<body>
	<!-- TODO: This should not use the 'colortoolbar' class, this is the wrong application of this class -->
    <div id="colorChipContainer" class="colortoolbar">
        
        <div id="chipIcon"></div>

        <div class="chipContainer"><button id="chipButton"></button></div>

    </div>
           	
</body>
</html>