/* <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> */

.breadcrumbTrail{
    background-color: #282828;
    border-style: double;
    height: 26px;

    -webkit-box-flex: 0;
}

.breadcrumbTrail button.nj-skinned {
    float: left;
    width: 60px;
    margin: 2px;
}

