<!DOCTYPE html>
<!-- <copyright>
 This file contains proprietary software owned by Motorola Mobility, Inc.<br/>
 No rights, expressed or implied, whatsoever to this software are provided by Motorola Mobility, Inc. hereunder.<br/>
 (c) Copyright 2011 Motorola Mobility, Inc.  All Rights Reserved.
 </copyright> -->
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="bread-crumb.css">


        <script type="text/montage-serialization">
            {
                "owner": {
                    "prototype": "js/components/layout/bread-crumb.reel[Breadcrumb]",
                    "properties": {
                        "element": {"#": "breadcrumbTrail"},
                        "breadcrumbBt": {"@": "breadCrumbButton"}
                    }
                },

                "breadCrumbButton": {
                    "prototype": "montage/ui/native/button.reel",
                    "properties": {
                        "element": {"#": "breadcrumb_button"}
                    },
                    "listeners": [
                        {
                            "type": "action",
                            "listener": {"@": "owner"}
                        }
                    ],
                    "bindings": {
                        "label": {"<-": "@buttonsList.objectAtCurrentIteration.label"},
                        "value": {"<-": "@buttonsList.objectAtCurrentIteration.nodeUuid"}
                    }
                },

                "buttonsListController": {
                    "prototype": "montage/ui/controller/array-controller",
                    "bindings": {
                        "content": {"<->": "@owner.containerElements"}
                    }
                },

                "buttonsList": {
                    "prototype": "montage/ui/repetition.reel",
                    "properties": {
                        "element": {"#": "breadcrumb_container"},
                        "contentController": {"@": "buttonsListController"}
                    }
                },

                "disable": {
                    "prototype": "montage/ui/condition.reel",
                    "properties": {
                        "element": {"#": "disabledCondition"}
                    },
                    "bindings": {
                        "condition": {"<-": "@owner.disabled"}
                    }
                }
            }
        </script>

    </head>
    <body>

        <section data-montage-id="breadcrumbTrail" class="breadcrumbTrail">
            <div data-montage-id="breadcrumb_container">
                <button data-montage-id="breadcrumb_button" class="nj-skinned"></button>
            </div>
            <div data-montage-id="disabledCondition" class="panelDisabled"></div>
        </section>

    </body>
</html> 